@{
    ViewData["Title"] = "Sign Up";
}
@model SignupViewModel

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info"> 
        @TempData["Message"]
    </div>
}

<div class="signup-container">
    <div class="signup-title">Create an Account</div>
    <form asp-asp-controller="Home" asp-action="Signup" method="post">
        <div class="form-group">
            <label asp-for="UserName">Username</label>
            <input asp-for="UserName" type="text" class="form-control" id="inputUsername" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label asp-for="Email" for="inputEmail">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="inputEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" >Phone Number</label>
            <input asp-for="PhoneNumber" type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone Number">
        </div>
        <button type="submit" class="btn btn-primary btn-signup">Sign Up</button>
    </form>
</div>



